
@import "ember-bootstrap/bootstrap";

body {

	h5 {
    color: purple;
  	}

  	h4 {
    color: blue;
  	}

  	hr {
  		color: blue;
  	}

  	span {
  		padding-left: 10px;
  	}

  	h6 {
  		color: green;
  	}

	#games {
	  float: left;
	  padding: 10px;
	  position: relative;
	}

	#games:hover {
		background-color: gray;  
	}

}
