
@import "ember-bootstrap/bootstrap";

body {

  $main-colour: blue;

  h5 {
    color: $main-colour;
  }

#games {
  float: left;
  padding: 10px;
  position: relative;
}

#games a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

#games:hover {
	background-color: gray;  
}

#games:active {
	background-color: #A9A;
  top: +2px;
}
}
